<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style>
    body {
      text-align: center;
    }
  </style>
  <script type="text/javascript" src="/javascripts/modal1.js"></script>
</head>

<body>
  <section>
    <div class="container">
      <div class="content is-normal">

        <section class="hero">
          <div class="hero-body">
            <p class="title is-2"><%= title %></p>
          </div>
        </section>

        <article class="message is-medium">
          <div class="message-header">
            <p>Information</p>
          </div>
          <div class="message-body">
            <p>This is a very simple CTF challenge. <br />
              In order to catch the flag, all you need to do is to find the correct answer and submit it in the answer box below.
            <p>Some clues are given, but you don't really need them do you?</p>
            </div>
        </article>

        <article class="message is-medium is-danger">
          <div class="message-header">
            <p>Question</p>
          </div>
          <div class="message-body">
            <p>There is a database for the website in the backend and there is only a few users.<br />
              All you have to do is to find the way to login as any of the users to catch the flag.</p>
          </div>
        </article>

        <article class="message is-medium is-info">
          <div class="message-header">
            <p>Some clues left here!</p>
          </div>
          <div class="message-body">
            <button class="js-modal-trigger button is-info is-rounded is-medium" data-target="clue-1">
              Secret message 1
            </button>
            <br />
            <br />
            <button class="js-modal-trigger button is-info is-rounded is-medium" data-target="clue-2">
              Secret message 2
            </button>
            <br />
            <br />
            <button class="js-modal-trigger button is-info is-rounded is-medium" data-target="clue-3">
              Secret message 2
            </button>
          </div>
        </article>

      </div>
    </div>
  </section>

  <section>
    <div class="container is-fullweight">
      <article class="message is-medium">
        <div class="message-header">
          <p>Login</p>
        </div>
        <div class="message-body">
          <div class="columns is-centered">
            <form action="/form" method="post" class="column is-two-thirds">
              <div class="field">
                <div class="control">
                  <input class="input" name="user" type="text" placeholder="User Name" required>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <input class="input" name="psw" type="text" placeholder="User Password" required>
                </div>
              </div>

              <div class="field is-grouped">
                <div class="control">
                  <button class="button is-link ">Submit</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light" type="reset">Cancel</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </article>

    </div>
  </section>


  <div id="clue-1" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <article class="message is-success is-normal">
        <div class="message-header">
          <p>A Secret Message!</p>
        </div>
        <div class="message-body">
          <p>Does user name really matters?</p>
          <p>If you really think its necessary try LUCY.</p>
        </div>
      </article>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>

  <div id="clue-2" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <article class="message is-success">
        <div class="message-header">
          <p>Another Secret Message!</p>
        </div>
        <div class="message-body">
          <p>Does user password really matters?</p>
          <p>It suppose to matter, but it won't be a hint if it really matters.</p>
        </div>
      </article>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <div id="clue-3" class="modal">
    <div class="modal-background"></div>

    <div class="modal-content">
      <article class="message is-success">
        <div class="message-header">
          <p>Last Message</p>
        </div>
        <div class="message-body">
          Have you checked the source code?
        </div>
        <p hidden>What should the sql suppose to look like?</p>
        <p hidden>Basically telling you the answer here.</p>
      </article>
    </div>

    <button class="modal-close is-large" aria-label="close"></button>
  </div>

</body>

</html>