<!DOCTYPE html>
<html>

<head>
  <title><%= judge %></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>

<body>
  <section class="hero is-success is-fullheight">
    <div class="hero-body">
      <div class="">
        <p class="title">
          <%= judge %>
        </p>
        <p class="title">
          <%= word %>
        </p>
      </div>
    </div>
  </section>
</body>

</html>